.color-shadow {
  text-align: center;
}

h1.cover {
  padding: 31vh 0 0;
  font-size: 9.5em;
  font-weight: 100;
  font-family: helvetica-neue-ultra-thin, sans-serif sans-serif;
}
.first {
  color: #ff00a7;
  letter-spacing: 0.002em;
  animation-name: textfade;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  display: inline-block;
}

strong {
  color: #ff00a7;
  font-family: helvetica-neue-thin, sans-serif;
  letter-spacing: 0.006em;
  animation-name: textslide;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  display: inline-block;
}

.separator {
  color: #bababa;
  font-size: 22px;
  letter-spacing: 0.4em;
  margin: -20px 0 0 0 ;
  animation-name: separator_expand;
  animation-duration: 3s;
}

@keyframes textslide {
  0% {
    color: rgba(255, 0, 191, 0);
    text-shadow: 0 0 32px #ff00a7;
    transform: matrix(1,0,-0.1,1,-50,0);
  }
  67% {
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 0 #ff00a7;
  }
  100% {
    color: rgb(255, 0, 167);
    transform: matrix(1,0,0,1,0,0);
  }
}

@keyframes textfade {
  0% {
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 8px rgba(255,255,255,.25);
    transform: matrix(1,0,0.1,1,50,0);
  }
  55% {
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 2px rgb(255, 0, 167);
  }
  100% {
    color: rgb(255, 0, 167);
    text-shadow: 0 0 0 rgb(255, 0, 167);
    transform: matrix(1,0,0,1,0,0);
  }
}

@keyframes separator_expand {
  0% {
    transform: matrix(0.01,0,0,1,0,0);
  }

  100% {
    transform: matrix(1,0,0,1,0,0);
  }
}